.option {
	width: 100px;
}

div.option {
	display: inline;
	margin-right: 3px;
}

.type_sel {
	margin-right: 10px;
}

div.close {
	float: right;
	cursor: pointer;
}

#div_qedit {
	margin-bottom: 10px;
}

#div_condedit {
	margin-bottom: 10px;
}

div.msgbox-alarm {
	background-color: red;
	color: white;
	border:1px solid #AFAFAF;
	border-radius:5px;
	padding: 5px;
	width: 50%;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}
div.msgbox {
	background-color: darkorange;
	color: white;
	border:1px solid #AFAFAF;
	border-radius:5px;
	padding: 5px;
	width: 50%;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}
div.msgbox-inline {
	display: inline;
	background-color: darkorange;
	color: white;
	border:1px solid #AFAFAF;
	border-radius:5px;
	padding: 5px;
	width: 50%;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

#veil{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#veilbg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 10;
}
#veilimg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
}

div.condition {
	background-color: #FFCCCC;
	border:1px solid #AFAFAF;
	border-radius:5px;
	padding: 5px;
	width: 60%;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

div.qbox > span{
	color: #3333ff;
}
div.qtype {
	width: 85px;
	display: inline-block;
}
div.ctype {
	width: 85px;
	display: inline-block;
}
.qbox {
	background-color: #CCCCFF;
	border:1px solid #AFAFAF;
	border-radius:5px;
	padding: 5px;
	width: 60%;
	margin-top: 3px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}  
#formbtns {
	margin-top: 10px;
}

#topiclist_container div {
	margin: 5px;
}

div.datetime_selector {
	display: inline-block;
}
